@page "/newusers"
@rendermode InteractiveServer

<PageTitle>New User</PageTitle>

<h1>New User</h1>

@if (_displayForm)
{
    <EditForm Model="user" OnValidSubmit="ValidSubmissionAsync">
        <div>

        </div>
        <DataAnnotationsValidator />

        <label>User Name <br />
        <InputText @bind-Value="user.UserName" placeholder="User Name" />
        <ValidationMessage For="@(() => user.UserName)" />
        </label><br /><br />

        <label>Name<br />
        <InputText @bind-Value="user.Name" placeholder="Full Name"/>
        <ValidationMessage For="@(() => user.Name)" />
        </label><br /><br />

        <label>Email<br />
        <InputText @bind-Value="user.Email" placeholder="Email"/>
        </label>

        <label>Phone Number <br />
        <InputNumber @bind-Value="user.PhoneNumber"></InputNumber>
        </label><br /><br />


        <label>Home Adress</label><br />

        <label>Street<br />
        <InputText @bind-Value="user.Street" placeholder="Street Name" />
        </label>

        <label>City<br />
        <InputText @bind-Value="user.City" placeholder="City" />
        </label>

        <label>Zipcode <br />
        <InputNumber @bind-Value="user.Zipcode"></InputNumber>
        </label><br /><br />


        <label>Company</label><br />

        <label>Company Name<br />
        <InputText @bind-Value="user.CompanyName" placeholder="Company Name" />
        </label>

        <label>Company Email<br />
        <InputText @bind-Value="user.CompanyEmail" placeholder="Company Emai" />
        </label>

        <label>Catchphrase<br />
        <InputText @bind-Value="user.CompanyCatchphrase" placeholder="Catchphrase" />
        </label><br /><br />

        <button type="submit">Submit</button>
    </EditForm>
}
else
{
    <p>Thank you @_nameToDisplay. Your information has been sucsessfully saves.</p>
}